<footer class="footer mt-auto bg-dark py-3 ">
    <div class="container " >
        <span class="text-secondary">&copy; Campify 2024</span>
        <span class="text-secondary" style="margin-left: 60rem; ;"><a style=" text-decoration: none; color: grey; " onMouseOver="this.style.color='white'"  onMouseOut="this.style.color='grey'" href="https://www.linkedin.com/in/mandartule/">Created by Mandar Tule</a></span>
    </div>
    

</footer>